<!doctype html>
<html lang="fr-fr" class="no-js">

  {% include head.html %}

  <body>
    {% include header.html %}
    <main class="cd-main-content">
		<nav class="cd-side-nav">
            {% include sidebar.html %}
        </nav>

        <div class="content-wrapper">
            {% if page.url == "/" %}
              <p class="lang"><a href="https://en.hackndo.com{{ page.url }}"><img src="/assets/icones/en.png" alt="english flag" /></a></p>
            {% else %}
              {% for post in site.posts %}
                {% if post.permalink == page.url %}
                  {% for lang in post.translation %}
                    {% if lang == "en" %}
                      <p class="lang"><a href="https://en.hackndo.com{{ page.url }}"><img src="/assets/icones/en.png" alt="english flag" /></a></p>
                      {% break %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            {% endif %}
            {{ content }}
        </div>
    </main>
    <script src="/assets/js/jquery-2.1.4.js"></script>
    <script src="/assets/js/jquery.menu-aim.js"></script>
    <script src="/assets/js/anchor.min.js"></script>
    <script src="/assets/js/main.js"></script> <!-- Resource jQuery -->
  </body>
</html>