<!DOCTYPE html>
<html lang="fr-fr">

    {% include head.html %}

    <body>
        <div class="container clearfix" style="position: relative;">
            <div id="sidebar">
            {% include sidebar.html %}
            </div>
            <div id="content">
            {{ content }}
            </div>
        </div>
        <script src="/assets/res/anchor.min.js"></script>
        <script type="text/javascript" src="/assets/res/rAF.js"></script>
        <script type="text/javascript" src="/assets/res/ResizeSensor.js"></script>
        <script type="text/javascript" src="/assets/res/sticky-sidebar.js"></script>
        <script src="/assets/res/script.js"></script>

        <script id="dsq-count-scr" src="//hackndo.disqus.com/count.js" async></script>
    </body>
</html>
